.main
  .header
    .left-header
      %h3.left-header__title
        = link_to halls_path(current_user.id) do
          WEDDING PAGE
    .right-header
      %ul.menu
        %li.menu__single
          %a.init-bottom{:href => "#"} マイページ
          %ul.menu__second-level
            %li
              %a 
              = link_to edit_user_path(current_user.id) do 
                編集
            %li
              %a
              = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
            
= form_tag(halls_path, :method => "get",:class => "search_container") do
  = text_field_tag :search
  = submit_tag "検索" ,:name => nil ,class: "submit"

.hall
  - if @halls.present?
    - @halls.each do |h|
      .hall__name
        = h.name
      .hall__image
        = image_tag h.image
      .hall__place
        = h.place
      %div.eye
        %i.fa.fa-eye
        %span.text6 1000
      .hall__link
        = link_to top_page_index_path(current_user.id) do
          詳細をみる →