.main
  .header
    .left-header
      %h3.left-header__title
        WEDDING PAGE
    %ul.right-header
      %li.right-header__title
        = link_to edit_user_path(current_user.id) do
          EDIT
.hall
  - if @halls.present?
    - @halls.each do |h|
      .hall__name
        = h.name
      .hall__image
        = image_tag h.image
      .hall__place
        = h.place
      .hall__link
        = link_to top_page_index_path(current_user.id) do
          詳細をみる
    
.item-button-container
  .item-button-container__left
    = render partial: 'likes/like', locals: { hall: @hall, halls: @halls, likes: @likes, like: @like}

