.search-box
  %select{:name => "tag"}
    %option{:value => ""} 人数を選択
    %option{:value => "50"} 50人くらい(親族のみなど)
    %option{:value => "90"} 90人くらい
.search-box
  %span.search-box_label 料理:
  = succeed "\u{3053}\u{3060}\u{308f}\u{308a}\u{305f}\u{3044}" do
    %input{:name => "dish", :type => "radio", :value => "こだわりたい"}/
  = succeed "\u{3053}\u{3060}\u{308f}\u{308a}\u{306f}\u{306a}\u{3044}" do
    %input{:name => "dish", :type => "radio", :value => "こだわりはない"}/
.search-box
  %span.search-box_label ドレス:
  = succeed "\u{3053}\u{3060}\u{308f}\u{308a}\u{305f}\u{3044}" do
    %input{:name => "dress", :type => "radio", :value => "こだわりたい"}/
  = succeed "\u{3053}\u{3060}\u{308f}\u{308a}\u{306f}\u{306a}\u{3044}" do
    %input{:name => "dress", :type => "radio", :value => "こだわりはない"}/
.search-box
  %span.search-box_label ケーキ:
  = succeed "\u{3053}\u{3060}\u{308f}\u{308a}\u{305f}\u{3044}" do
    %input{:name => "cake", :type => "radio", :value => "こだわりたい"}/
  = succeed "\u{3053}\u{3060}\u{308f}\u{308a}\u{306f}\u{306a}\u{3044}" do
    %input{:name => "cake", :type => "radio", :value => "こだわりはない"}/
.search-box
  %span.search-box_label 装花:
  = succeed "\u{3053}\u{3060}\u{308f}\u{308a}\u{305f}\u{3044}" do
    %input{:name => "flower", :type => "radio", :value => "こだわりたい"}/
  = succeed "\u{3053}\u{3060}\u{308f}\u{308a}\u{306f}\u{306a}\u{3044}" do
    %input{:name => "flower", :type => "radio", :value => "こだわりはない"}/
%button#search 検索
%ul.list
  %li
    .list_item{"data-tag" => "50人ぐらい(親族のみなど)", "data-dish" => "こだわりたい", "data-dress" => "こだわりたい", "data-cake" => "こだわりたい", "data-flower" => "こだわりたい", "style" => "display: none;"}
      130万円
  %li
    .list_item{"data-tag" => "50人くらい(親族のみなど)", "data-dish" => "こだわりはない", "data-dress" => "こだわりはない", "data-cake" => "こだわりはない", "data-flower" => "こだわりはない", "style" => "display: none;"}
      88万円
  %li
    .list_item{"data-tag" => "50人くらい(親族のみなど)", "data-dish" => "こだわりたい", "data-dress" => "こだわりはない", "data-cake" => "こだわりはない", "data-flower" => "こだわはりない", "style" => "display: none;"}
      113万円
  %li
    .list_item{"data-tag" => "50人くらい(親族のみなど)", "data-dish" => "こだわりたい", "data-dress" => "こだわりたい", "data-cake" => "こだわりはない", "data-flower" => "こだわりはない", "style" => "display: none;"}
      118万円
  %li
    .list_item{"data-tag" => "50人くらい(親族のみなど)", "data-dish" => "こだわりたい", "data-dress" => "こだわりたい", "data-cake" => "こだわりたい", "data-flower" => "こだわりはない", "style" => "display: none;"}
      123万円
  %li
    .list_item{"data-tag" => "50人くらい(親族のみなど)", "data-dish" => "こだわりはない", "data-dress" => "こだわりたい", "data-cake" => "こだわりはない", "data-flower" => "こだわりはない", "style" => "display: none;"}
      93万円
  %li
    .list_item{"data-tag" => "50人くらい(親族のみなど)", "data-dish" => "こだわりはない", "data-dress" => "こだわりたい", "data-cake" => "こだわりたい", "data-flower" => "こだわりはない", "style" => "display: none;"}
      98万円
  %li
    .list_item{"data-tag" => "50人くらい(親族のみなど)", "data-dish" => "こだわりはない", "data-dress" => "こだわりたい", "data-cake" => "こだわりたい", "data-flower" => "こだわりたい", "style" => "display: none;"}
      105万円
  %li
    .list_item{"data-tag" => "50人くらい(親族のみなど)", "data-dish" => "こだわりはない", "data-dress" => "こだわりはない", "data-cake" => "こだわりたい", "data-flower" => "こだわりはない", "style" => "display: none;"}
      93万円
  %li
    .list_item{"data-tag" => "50人くらい(親族のみなど)", "data-dish" => "こだわりはない", "data-dress" => "こだわりはない", "data-cake" => "こだわりたい", "data-flower" => "こだわりたい", "style" => "display: none;"}
      100万円
  %li
    .list_item{"data-tag" => "50人くらい(親族のみなど)", "data-dish" => "こだわりはない", "data-dress" => "こだわりはない", "data-cake" => "こだわりはない", "data-flower" => "こだわりたい", "style" => "display: none;"}
      95万円
  %li
    .list_item{"data-tag" => "50人くらい(親族のみなど)", "data-dish" => "こだわりたい", "data-dress" => "こだわりはない", "data-cake" => "こだわりたい", "data-flower" => "こだわりはない", "style" => "display: none;"}
      118万円
  %li
    .list_item{"data-tag" => "50人くらい(親族のみなど)", "data-dish" => "こだわりはない", "data-dress" => "こだわりたい", "data-cake" => "こだわりはない", "data-flower" => "こだわりたい", "style" => "display: none;"}
      100万円
  %li
    .list_item{"data-tag" => "50人くらい(親族のみなど)", "data-dish" => "こだわりたい", "data-dress" => "こだわりはない", "data-cake" => "こだわりはない", "data-flower" => "こだわりたい", "style" => "display: none;"}
      120万円
  %li
    .list_item{"data-tag" => "50人くらい(親族のみなど)", "data-dish" => "こだわりたい", "data-dress" => "こだわりたい", "data-cake" => "こだわりはない", "data-flower" => "こだわりたい", "style" => "display: none;"}
      125万円
  %li
    .list_item{"data-tag" => "50人くらい(親族のみなど)", "data-dish" => "こだわりたい", "data-dress" => "こだわりはない", "data-cake" => "こだわりたい", "data-flower" => "こだわりたい", "style" => "display: none;"}
      125万円
  
  %li
    .list_item{"data-tag" => "90人くらい", "data-dish" => "こだわりたい", "data-dress" => "こだわりたい", "data-cake" => "こだわりたい", "data-flower" => "こだわりたい", "style" => "display: none;"}
      210万円
  %li
    .list_item{"data-tag" => "90人くらい", "data-dish" => "こだわりはない", "data-dress" => "こだわりはない", "data-cake" => "こだわりはない", "data-flower" => "こだわりはない", "style" => "display: none;"}
      148万円
  %li
    .list_item{"data-tag" => "90人くらい", "data-dish" => "こだわりたい", "data-dress" => "こだわりはない", "data-cake" => "こだわりはない", "data-flower" => "こだわはりない", "style" => "display: none;"}
      193万円
  %li
    .list_item{"data-tag" => "90人くらい", "data-dish" => "こだわりたい", "data-dress" => "こだわりたい", "data-cake" => "こだわりはない", "data-flower" => "こだわりはない", "style" => "display: none;"}
      198万円
  %li
    .list_item{"data-tag" => "90人くらい", "data-dish" => "こだわりたい", "data-dress" => "こだわりたい", "data-cake" => "こだわりたい", "data-flower" => "こだわりはない", "style" => "display: none;"}
      203万円
  %li
    .list_item{"data-tag" => "90人くらい", "data-dish" => "こだわりはない", "data-dress" => "こだわりたい", "data-cake" => "こだわりはない", "data-flower" => "こだわりはない", "style" => "display: none;"}
      153万円
  %li
    .list_item{"data-tag" => "90人くらい", "data-dish" => "こだわりはない", "data-dress" => "こだわりたい", "data-cake" => "こだわりたい", "data-flower" => "こだわりはない", "style" => "display: none;"}
      158万円
  %li
    .list_item{"data-tag" => "90人くらい", "data-dish" => "こだわりはない", "data-dress" => "こだわりたい", "data-cake" => "こだわりたい", "data-flower" => "こだわりたい", "style" => "display: none;"}
      165万円
  %li
    .list_item{"data-tag" => "90人くらい", "data-dish" => "こだわりはない", "data-dress" => "こだわりはない", "data-cake" => "こだわりたい", "data-flower" => "こだわりはない", "style" => "display: none;"}
      153万円
  %li
    .list_item{"data-tag" => "90人くらい", "data-dish" => "こだわりはない", "data-dress" => "こだわりはない", "data-cake" => "こだわりたい", "data-flower" => "こだわりたい", "style" => "display: none;"}
      160万円
  %li
    .list_item{"data-tag" => "90人くらい", "data-dish" => "こだわりはない", "data-dress" => "こだわりはない", "data-cake" => "こだわりはない", "data-flower" => "こだわりたい", "style" => "display: none;"}
      155万円
  %li
    .list_item{"data-tag" => "90人くらい", "data-dish" => "こだわりたい", "data-dress" => "こだわりはない", "data-cake" => "こだわりたい", "data-flower" => "こだわりはない", "style" => "display: none;"}
      198万円
  %li
    .list_item{"data-tag" => "90人くらい", "data-dish" => "こだわりはない", "data-dress" => "こだわりたい", "data-cake" => "こだわりはない", "data-flower" => "こだわりたい", "style" => "display: none;"}
      160万円
  %li
    .list_item{"data-tag" => "90人くらい", "data-dish" => "こだわりたい", "data-dress" => "こだわりはない", "data-cake" => "こだわりはない", "data-flower" => "こだわりたい", "style" => "display: none;"}
      200万円
  %li
    .list_item{"data-tag" => "90人くらい", "data-dish" => "こだわりたい", "data-dress" => "こだわりたい", "data-cake" => "こだわりはない", "data-flower" => "こだわりたい", "style" => "display: none;"}
      205万円
  %li
    .list_item{"data-tag" => "90人くらい", "data-dish" => "こだわりたい", "data-dress" => "こだわりはない", "data-cake" => "こだわりたい", "data-flower" => "こだわりたい", "style" => "display: none;"}
      205万円