%head
  %script{:src => "toppage.js", :type => "text/javascript"}
  %meta{:content => "width=980", :name => "viewport"}/
  %body
    .main
      .header
        .left-header
          %h3.left-header__title
            = link_to halls_path(current_user.id) do
              WEDDING PAGE
        .right-header
          .right-header__back
            = link_to halls_path(current_user.id) do
              = icon("fa", "angle-double-left")
              戻る
          %ul.menu
            %li.menu__single
              %a.init-bottom{:href => "#"} マイページ
              %ul.menu__second-level
                %li
                  %a 
                  = link_to edit_user_path(current_user.id) do 
                    編集
                %li
                  %a
                  = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
      .choice
        = link_to "会場", top_page_index_path(anchor: "place"), class: 'place'
        = link_to "料理", top_page_index_path(anchor: "dish"), class: 'dish'
        = link_to "プラン", top_page_index_path(anchor: "plan"), class: 'plan'
        = link_to "ケーキ", top_page_index_path(anchor: "cake"), class: 'cake'
        = link_to "費用チェック", top_page_index_path(anchor: "cost"), class: 'cost'
      .slider
        %h2.one#place
          = render partial: 'place'
        %h2.two#dish
          = render partial: 'dish'
        %h2.three#plan
          = render partial: 'plan'
        %h2.four#cake
          = render partial: 'cake'
        %h2.five#cost
          = render partial: 'cost'
